<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>PCI</title>
</head>
<body>
    <header>
        <h1>Comienza a planificar tu cuatrimestre de {{ carrera }}!</h1>
    </header>
    <main>
        <form action="/carrera/{{ carrera }}" method="post">
            <h2>Materias</h2>
            <p>Ingresa las materias que ya has cursado:</p>
            <div id="materiasDiv"></div>
            <h2>Cuantas materias por cuatrimestre desea cursar?</h2>
            <div class="materias">
                <p>Cantidad preferible:</p><input type="number" name="materiasPorCuatrimestre" id="materiasPorCuatrimestre" min="1" max="8">
            </div>
            <div class="cuatrimestre">
                <p>En que cuatrimestre se encuentra?</p>
                <button>1er cuatrimestre</button>
                <button>2do cuatrimestre</button>
            </div>
            <button type="submit">Planificar</button>
        </form>
    </main>
    <script src="/static/carrera.js"></script>
</body>
</html>