<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>PCI</title>
</head>
<body>
    <header>
        <h1>Comienza a planificar tu cuatrimestre de {{ carrera }}!</h1>
    </header>
    <main>
        <form action="/carrera/{{ carrera }}/planificador" method="post">
            <h2>Materias</h2>
            <p>Ingresa las materias que ya has cursado:</p>
            <div>
                {% for materia in materias %}
                <div>
                    <input type="checkbox" id="materia-{{ loop.index }}" name="materias_aprobadas" value="{{ materia['codigo'] }}">
                    <label for="materia-{{ loop.index }}">{{ materia['nombre'] }}</label>
                </div>
                {% endfor %}
            </div>
            <h2>¿Cuántas materias por cuatrimestre desea cursar?</h2>
            <div class="materias">
                <p>Cantidad preferible:</p>
                <input type="number" name="cant_materias" id="cant_materias" min="1" max="8" required>
            </div>
            <h2>¿En qué cuatrimestre estás actualmente?</h2>
            <div>
                <label><input type="radio" name="cuatrimestre_actual" value="1" required> Primero</label>
                <label><input type="radio" name="cuatrimestre_actual" value="2"> Segundo</label>
            </div>
            <button type="submit">Planificar</button>
        </form>
    </main>
</body>
</html>