<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>PCI</title>
</head>
<body>
    <header>
        <h1>Organizador de cuatrimestres</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic harum reprehenderit tempora dolorum fugiat cumque corrupti, explicabo, voluptates cupiditate autem nobis totam deleniti praesentium ipsa maxime id maiores minima tempore!</p>
    </header>
    <main>
        <h2>Carreras</h2>
        <div class="buttonsContainer">
            <button id="ing_sistemas">Ingeniería en Sistemas</button>
            <button id="ing_electronica">Ingeniería Electrónica</button>
            <button id="ing_electricista">Ingeniería Electricista</button>
            <button id="ing_computacion">Ingeniería en Computación</button>
            <button id="ing_telecomunicaciones">Ingeniería en Telecomunicaciones</button>
        </div>
    </main>
    <script>
        document.getElementById("ing_sistemas").addEventListener("click", function() {
            window.location.href = "/carrera/ingenieria_sistemas";
        });
        document.getElementById("ing_electronica").addEventListener("click", function() {
            window.location.href = "/carrera/ingenieria_electronica";
        });
        document.getElementById("ing_electricista").addEventListener("click", function() {
            window.location.href = "/carrera/ingenieria_electricista";
        });
        document.getElementById("ing_computacion").addEventListener("click", function() {
            window.location.href = "/carrera/ingenieria_computacion";
        });
        document.getElementById("ing_telecomunicaciones").addEventListener("click", function() {
            window.location.href = "/carrera/ingenieria_telecomunicaciones";
        });
    </script>
</body>
</html>