<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>PCI</title>
</head>
<body>
    <header>
        <h1>Organizador de cuatrimestres</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic harum reprehenderit tempora dolorum fugiat cumque corrupti, explicabo, voluptates cupiditate autem nobis totam deleniti praesentium ipsa maxime id maiores minima tempore!</p>
    </header>
    <main>
        <h2>Carreras</h2>
        <div class="buttonsContainer">
            <button>Ingeniería en Sistemas</button>
            <button>Ingeniería Electrónica</button>
            <button>Ingeniería Eléctrica</button>
            <button>Ingeniería en Computación</button>
        </div>
    </main>
</body>
</html>