<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>PCI</title>
</head>
<body>
    <header>
        <h1>Organizador de cuatrimestres</h1>
        <p>  Esta página te permite organizar tu plan de estudios de manera sencilla y rápida. Solo tenés que elegir tu carrera, marcar las materias que ya aprobaste e indicar cuántas querés cursar por cuatrimestre. Con esa información, el sistema generará un plan sugerido que respeta las correlatividades y te muestra una posible distribución de materias en los próximos cuatrimestres, ayudándote a visualizar tu avance y a planificar mejor tu cursada.</p>
    </header>
    <main>
        <h2>Carreras</h2>
        <div class="buttonsContainer">
            <button id="ing_sistemas">Ingeniería en Sistemas</button>
            <button id="ing_electronica">Ingeniería Electrónica</button>
            <button id="ing_electricista">Ingeniería Electricista</button>
            <button id="ing_computacion">Ingeniería en Computación</button>
            <button id="ing_telecomunicaciones">Ingeniería en Telecomunicaciones</button>
        </div>
    </main>
    <script>
        document.getElementById("ing_sistemas").addEventListener("click", function() {
            window.location.href = "/carrera/ingenieria_sistemas";
        });
        document.getElementById("ing_electronica").addEventListener("click", function() {
            window.location.href = "/carrera/ingenieria_electronica";
        });
        document.getElementById("ing_electricista").addEventListener("click", function() {
            window.location.href = "/carrera/ingenieria_electricista";
        });
        document.getElementById("ing_computacion").addEventListener("click", function() {
            window.location.href = "/carrera/ingenieria_computacion";
        });
        document.getElementById("ing_telecomunicaciones").addEventListener("click", function() {
            window.location.href = "/carrera/ingenieria_telecomunicaciones";
        });
    </script>
</body>
</html>